<% include ../partials/header-html %>
<link rel="stylesheet" href="/stylesheets/show.css">
<% include ../partials/header-nav %>
    <div class="container blog-container">
      <div class="row blog-entry d-flex align-items-center flex-wrap ">
        <div class="col-4 blog-img">
          <img
            class="img-responsive"
            src="<%=blogPost.image%>"
          />
        </div>
        <div class="col-8 well">
          <h1><%=blogPost.name %></h1>
          <h3><%=blogPost.artist %></h3>
          <a href="#" class="btn btn-outline-warning">Edit</a>
          <a href="#" class="btn btn-outline-danger">Delete</a>
        </div>
      </div>
      <div class="row blog-content">
        <p>
        <%=blogPost.review %>
        </p>
        <a href="/posts">Go back</a>
      </div>
      <a href="/posts/<%=blogPost._id%>/comments/new" class="btn btn-outline-success my-2">Create new comment</a>
      <div class="comment-section">
        <% blogPost.comments.forEach((comment) =>{%>
        <% console.log(comment)%>
	        <p>
		        <strong><%= comment.author.username %></strong> - <%= comment.text %>
            <span class="float-right">
              <a href="#" class="btn btn-outline-warning btn-sm">Edit</a>
              <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
            </span>
          </p>
          
        <% }) %>
      </div>
    </div>

    

<% include ../partials/footer %>